<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" target="_blank" href="https://www.linkedin.com/in/chiranjaya-denuwan/">
     <b>ngx-nic-parser</b>
    <small>A calculator of Date of birth and gender using NIC in SriLanka using Angular</small>
    </a>
  </nav>
</div>

<div class="form-group col-md-6 mt-2">
  <ngx-nic-parser
    [title]="'NIC Number'"
    [placeholder]="'Insert your nic number'"
    (checkDob)="generate($event)"
    [id]="'nic'"
    [patternErrorMessage]="'Invalid pattern!'"
    [requiredMessage]="'Nic Number is required!'"
  ></ngx-nic-parser>
</div>
